@media screen and (min-width:992px) {
    .follow-media {
        padding-left: 15px;
        padding-right: 15px;
    }

    .logo-menu {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
      }

}







@media screen and (min-width:768px) and (max-width:991px) {
    .follow-media {
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-20 {
        width: 50%;
    }

    .mobile-icon {
        text-align: right;
    }

    .col-35 {
        width: 100%;
    }

    .logo-menu {
        padding-top: 8px;
        padding-bottom: 5px;
    }

    .logo img {
        width: 50px;
    }

    .text img {
        width: 100px;
    }
    .text {
        padding-left: 0px;
        padding-right: 0px;
    }

    .col-70 {
        padding-right: 20px;
    }

    .menu-area ul {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        text-align: right;
        font-size: 35px;
    }

    .bannar {
        height: 360px;
    }

    .col-25 {
        width: 50%;
    }

    .col-33 {
        width: 50%;
    }
}


@media screen and (min-width:556px) and (max-width:767px) {
    .follow-media {
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-20 {
        width: 50%;
    }

    .mobile-icon {
        text-align: right;
    }

    .col-35 {
        width: 100%;
    }

    .logo-menu {
        padding-top: 8px;
        padding-bottom: 5px;
    }

    .logo img {
        width: 50px;
    }

    .text img {
        width: 100px;
    }
    .text {
        padding-left: 0px;
        padding-right: 0px;
    }

    .col-70 {
        padding-right: 20px;
    }

    .menu-area ul {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        text-align: right;
        font-size: 35px;
    }

    .bannar {
        height: 360px;
    }

    .recent-heading p {
        width: 427px;
    }

    .col-60 {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-40 {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 15px;
    }

    .col-50 {
        width: 100%;
    }

    .col-25 {
        width: 100%;
        padding-bottom: 30px;
    }

    .col-33 {
        width: 100%;
    }

    .contact-us {
        padding-bottom: 0;
    }
}





@media screen and (max-width:555px) {
    .follow-media {
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-20 {
        width: 50%;
    }

    .mobile-icon {
        text-align: right;
    }

    .col-35 {
        width: 100%;
    }

    .col-30 {
        width: 30%;
    }

    .col-70 {
        width: 65%;
    }

    .logo img {
        width: 35px;
    }

    .text img {
        width: 80px;
    }
    .text {
        padding-left: 0px;
        padding-right: 0px;
    }

    .menu-area ul {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        text-align: right;
        font-size: 35px;
    }

    .bannar {
        height: 260px;
    }

    .col-60 {
        width: 100%;
    }

    .blue-star-text a {
        margin: auto;
    }

    .col-40 {
        width: 100%;
        padding-top: 30px;
        padding-right: 0px;
    }

    .col-50 {
        width: 100%;
    }

    .col-25 {
        width: 100%;
    }

    .col-33 {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .single-testimonial {
        margin-top: 40px;
    }

    .recent-heading p {
        max-width: 355px;
        max-width: 100%;
    }
}