* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    align-items: center;
}

/* Start CSS Here  */

/* follow-media css start */
.follow-media {
    background-color: #163f91;
    padding-top: 20px;
    padding-bottom: 20px;
}

.col-20 {
    width: 20%;
}

.col-25 {
    width: 25%;
}

.col-35 {
    width: 35%;
}

.email-icon span {
    padding-left: 10px;
    color: #fff;
}

.mobile-icon span {
    padding-left: 10px;
    color: #fff;
}

.follow-us ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.follow-us ul li {
    display: inline-block;
    color: #fff;
}

.follow-us ul li a {
    color: #fff;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}
/* follow-media css end */
.logo-menu {
    background-color: #d2d3d6;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mobile-menu-icon {
    display: none;
}

.col-30 {
    width: 30%;
}

.col-70 {
    width: 70%;
}

.site-logo {
    display: flex;
    align-items: center;
}

.logo {
    padding-left: 10px;
    padding-right: 10px;
}

.text {
    padding-left: 10px;
    padding-right: 10px;
}

.menu-area ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.menu-area ul li {
    display: inline-block;    
    padding: 0px 25px;
}

.menu-area ul li a {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}

.menu-area ul li:last-child {
    padding-right: 0;
}

.menu-area ul li a:hover {
    padding: 8px 12px;
    border: 1px solid #fff;
}

 /* BANNAR AREA CSS START   */
 .bannar {
    background-image: url('../images/bannar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 643px;
 }
 /* BANNAR AREA CSS END  */


 /* WELCOME TO Blue Star area start */
 .blue-star {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fdfdfd;
 }

 .col-60 {
    width: 60%;
    padding-left: 15px;
    padding-right: 15px;
 }

 .blue-star-text h2 span {
    color: #163f91;
 }

 .blue-star-text p {
    text-align: justify;
 }

 .blue-star-text a {
    width: 138px;
    height: 38px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #163f91;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .col-40 {
    width: 40%;
    padding-left: 15px;
    padding-right: 15px;
 }

 .blue-star-image {
    padding: 15px;
    text-align: center;
 }

 .blue-star-image img {
    width: 80%;
 }
 /* WELCOME TO Blue Star area ens */


 /* WITH EXPART AREA CSS START */
 .with-expart {
    display: flex;
    flex-wrap: wrap;
 }

 .col-50 {
    width: 50%;
 }

 .expart-left {
    background-color: #ccc7c6;
 }

 .single-expart {
    padding: 40px;
    text-align: center;
 }

 .single-expart a {
    width: 127px;
    height: 32px;
    background-color: #000000;
    color: #fff;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: auto;
 }

 .expart-right {
    background-color: #1b1b1b;
    color: #fff;
 }

 .expart-right a {
    width: 127px;
    height: 32px;
    background-color: #163f91;
    color: #fff;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: auto;   
 } 
 /* WITH EXPART AREA CSS END */

/* OUR PRODUCT AREA CSS START */
.our-product {
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: #163f91;
}

.our-product h2 {
    text-align: center;
    color: #fff;
}

.our-product span {
    width: 57px;
    height: 2px;
    background-color: #fff;
    display: flex;
    margin: auto;
}

.our-product .row {
    margin-top: 40px;
}

.col-25 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.single-product {
    background-color: #e8e8e7;
    padding: 20px;
}

.single-product img {
    width: 100%;
}

.single-product a {
    width: 100%;
    height: 45px;
    background-color: #163f91;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more {
    padding-top: 35px;
}

.more a {
    width: 132px;
    height: 45px;
    background-color: #d8e0cd;
    color: #000;
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: auto;
}
/* OUR PRODUCT AREA CSS END */

/* WHY US AREA CSS START */
.why-us {
    padding-top: 40px;
    padding-bottom: 80px;
}

.why-us h2 {
    text-align: center;
}

.why-us span {
    width: 69px;
    height: 3px;
    background-color: #163f91;
    display: flex;
    margin: auto;
}

.col-33 {
    width: 33.3333%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

.single-coz {
    display: flex;
    flex-wrap: wrap;
}

.image {
    width: 30%;
    margin-top: auto;
    padding-right: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.image img {
    width: 50%;
}

.decs {
    width: 70%;
}

.decs p {
    text-align: justify;
}
/* WHY US AREA CSS END */

/* RECENT NEWS AREA CSS START */
.recent-news {
    background-color: #ebedee;
    padding-top: 40px;
    padding-bottom: 60px;
}
.recent-news h2 {
    text-align: center;
    text-transform: capitalize;
}

.recent-news h2 span {
    color: #163f91;
}

.recent-heading {
    padding-bottom: 20px;
}

.recent-heading p {
    width: 665px;
    margin: auto;
    text-align: center;
}

.single-news img {
    width: 100%;
}

.news-desc {
    padding: 0px 5px;
}

.news-desc h3 {
    font-size: 22px;
    font-style: italic;
}

.news-desc p {
    text-align: center;
    font-size: 17px;
}

.news-desc a {
    width: 132px;
    height: 38px;
    background-color: #163f91;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
/* RECENT NEWS AREA CSS END */

/* TESTIMONIAL AREA CSS START */
.testimonial-area {
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: #163f91;
}

.testimonial-heading {
    padding-bottom: 50px;
}

.testimonial-heading h2 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.testimonial-heading span {
    width: 79px;
    height: 2px;
    background-color: #fff;
    display: flex;
    margin: auto;   
}

.single-testimonial {
    background-color: #fff;
    padding: 40px 28px;
    text-align: center;
    position: relative;
}

.testimonial-img {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translate(-50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #f00;
}

.testimonial-desc h4 {
    margin-bottom: 0;
}

.testimonial-desc span {
    font-weight: 600;
}

.testimonial-desc span,
.testimonial-desc p {
    opacity: .5;
}
/* TESTIMONIAL AREA CSS END */

/* CONTACT US AREA CSS START */
.contact-us {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #000;
    color: #fff;
}

.single-box p {
    text-align: justify;
}

.popular-post {
    padding-left: 10px;
}

.popular-post ul {
    list-style: none;
    padding: 0;
}

.popular-post ul li {
    padding-bottom: 12px;
}

.popular-post ul li a {
    text-decoration: none;
    color: #fff;
}

.quick-links {
    padding-left: 35px;
}

.quick-links ul {
    list-style: none;
    padding: 0;
}

.quick-links ul li {
    padding-bottom: 7px;
}

.quick-links ul li a {
    text-decoration: none;
    color: #fff;
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact ul li {
    padding-bottom: 30px;
}


.contact ul li i {
    padding-right: 18px;
}
/* CONTACT US AREA CSS END */

/* COPY RIGHT AREA CSS START */
.copy-right {
    background-color: #163f91;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.copy-right p {
    margin: 0;
    font-size: 20px;
}
/* COPY RIGHT AREA CSS END */


